body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
}
h1 {
	font-family: Roboto, sans-serif;
	font-size: 36px;
	line-height: 36px;
	color: #000000;

}
.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	background: #d1ff81;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-navigation {
	float: left;
	width: 600px;
	height: 126px;
	background: #96b6ff;
}
li {
	display: inline;
}
.index-logo {
	float: left;
	width: 140px;
	height: 126px;
	background: #fffb81;
}
.user-block {
	float: right;
	width: 120px;
	height: 126px;
	background: #fffb81;
}
.features {
	float: left;
}
.slider{
	position:relative;
	width:880px;
	height:310px;
	margin:0 auto;
	background: #fffb81;
}
.slider-inner {
	float: left;
	width: 480px;
}
.slider2 {
	visibility: hidden;
}
.slider3 {
	visibility: hidden;
}